.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/fondo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 8%;
    left: 15%;
    margin: 10px; 
}



.btn-start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-start-container a {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-start-container img {
    width: 40%;
}