.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.btn-start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-start-container a {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-start-container img {
    width: 25%;
}