* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Terpel Sans ExtraBold';
}

@font-face {
    font-family: 'Terpel Sans Display';
    src: url(/fonts/Terpel-Sans-Display.otf);
}

@font-face {
    font-family: 'Terpel Sans Medium';
    src: url(/fonts/Terpel-Sans-Medium.otf);
}

@font-face {
    font-family: 'Terpel Sans ExtraBold';
    src: url(/fonts/TerpelSans-ExtraBold.otf);
}