
.main-trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    position: relative;
}


.trivia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    position: relative;
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 5%;
    left: 10%;
    margin: 10px; 
}

.logo-container img {
    width: 100%;
}

#question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    padding: 30px;
    width: 85.3%;
    height: 200px;
    background-color: #fff;
    color: #D8272D;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, calc(100% - 100px) 0, 100% 100px, 100% 100%, 0 100%);
}

/* Línea de colores */
.color-line {
    width: 85%;
    height: 10px;
    background: linear-gradient(to right, #fff, #F9DF0E, #C60B13);
    margin-top: -2px;
    margin-bottom: 2rem;
}

.answers {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-top: 10px;
}

.answer {
    background-color: #fff;
    font-size: 1rem;
    color: #000;
    border: none;
    padding: 1rem;
    margin: 1em 0;
    cursor: pointer;
    width: 100%;
}

.answer:hover {
    background-color: #666;
}

.answer.correct {
    background-color: #FCB817;
}

.answer.incorrect {
    background-color: #ED2025;
}

.popup {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 600px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #000;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.popup.show {
    display: flex;
    opacity: 1;
}

#popup-content {
    margin-bottom: 6rem;
    font-size: 2rem;

}

#popup-button {
    background-color: #D8272D;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

#popup-button:hover {
    background-color: #666;
}